{% extends 'layouts/base.html'%}
{%load static%}
{% load i18n %}
{% block content%}
<div class="index">
    <h4>KATEGORIYALAR</h4>
    <ul class="category">
        <li><a href="#" > Kategoriya 1</a></li>
        <li><a href="#"> Kategoriya 2</a></li>
        <li><a href="#"> Kategoriya 3</a></li>
    </ul>
    <img class="img1" src="/assets/img/banner.gif"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>
  <div style="margin-top: 400px;">

  </div>
</div>

{%endblock%}

