{% extends 'layouts/banner.html'%}
{%load static%}
{% load i18n %}
{% block banner_content%}
<div class="index">
    <h4>KATEGORIYALAR</h4>
    <ul class="category">
        {%for i in categories  %}
            <li><img style="width: 20px; height: 20px;" src="{{ i.image.url }}"/><a href="#" > {{i.name}}</a></li>        
        {%endfor%}
    </ul>
    <img class="img1" src="/assets/img/banner.gif"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>
    <img  class="img2" src="/assets/img/small-banner.png"  alt="Banner"/><br>

    Paginations

   {%include 'widgets/post.html' with post=post %}
    
    <div style="margin-top: 400px;"></div>
</div>

{%endblock%}

