.index{
  margin-left: 400px;

}
.img1{
  width:1200px;
  margin-left:300px;
  margin-top: -170px;
 
}
.img2{
  margin-left: 1200px;
  margin-top: 20px;
}
.category{
  font-size: 30px;

}


h4{
  margin-top: 10px;
}
